@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /** --------------------------------
   * ArticleContent.vueから移植
   */
  .prose .MathJax_Display {
    /* 数式はみ出るの防止 */
    @apply overflow-x-scroll overflow-y-hidden;
  }
  .prose .MathJax_Display::-webkit-scrollbar {
    display: none;
  }

  .prose {
    word-break: break-all;
    line-break: loose;
  }

  /* tailwindは太字にしているが旧サイトと合わせる */
  .prose h1,.prose h2,.prose h3,.prose h4,.prose h5,.prose h6 {
    @apply !font-normal;
  }
  /* 文字サイズ調整と下線 */
  .prose h1 {
    @apply text-3xl p-3 pl-0 border-b-2 border-gray-400;
  }
  .prose h2 {
    @apply text-2xl p-1 pl-0 border-b border-gray-200;
  }
  .prose pre {
    /* twの背景色は不要なので */
    @apply !bg-inherit;
  }
  .prose pre code {
    @apply p-0;
  }

  /** ----------------------
    以下はコピーしただけ
  */
  .prose blockquote {
    @apply p-2 bg-blockquote mb-4 border-l-8 border-blockquoteSidebar rounded pl-4;
  }

  .prose blockquote > p {
    @apply mb-0;
  }

  .prose ol {
    @apply list-decimal p-2 px-6;
  }

  .prose ul {
    @apply list-disc p-2 px-6;
  }

  .prose a {
    line-break: anywhere;
    @apply text-blue-600;
  }

  .prose iframe {
    @apply block m-auto w-full;
  }
  /*
   * 移植ここまで
   * ------------------------------------- */
}
