@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .navigation > * {
    @apply h-full inline-block mr-4 pt-5 text-sm text-primary transition duration-300 ease-in-out;
  }
  .navigation > .active {
    @apply border-b-2 border-primary;
  }
  .hamburger {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
